[Desktop Entry]
Type=Application
Hidden=true
Categories=Settings;System;Documentation;

Icon=yast-installation
Exec=/bin/true

Name=Installation
Comment=Install system to the system
StartupNotify=true
