[Desktop Entry]
Type=Application
Hidden=true
Categories=Settings;System;Documentation;

Icon=yast-upgrade
Exec=/bin/true

Name=Upgrade
GenericName=System Upgrade
Comment=Upgrade system to the newer version
StartupNotify=true
