[Unit]
Description=YaST2 Second Stage
After=apparmor.service local-fs.target plymouth-start.service
Before=getty@tty1.service serial-getty@ttyS0.service serial-getty@ttyS1.service serial-getty@ttyS2.service
Before=display-manager.service network.service NetworkManager.service SuSEfirewall2_init.service SuSEfirewall2.service
ConditionPathExists=/var/lib/YaST2/runme_at_boot

[Service]
Type=oneshot
Environment=SYSTEMCTL_OPTIONS=--ignore-dependencies TERM=linux
# Workaround of bug in plymouth --> using deactivate option
# in second boot stage in order to start ncurses yast correctly
# (bnc#886488).
# If the system starts in multi-user mode plymouth will be quit while
# installation in order to ensure that installation will be finished on
# console 1 and the login prompt. (bnc#903682,889757,897956)
ExecStartPre=-/bin/sh -c 'if [ `/usr/bin/systemctl get-default` = "multi-user.target" ];then /usr/bin/plymouth quit; else /usr/bin/plymouth deactivate --hide-splash; fi'
ExecStart=/usr/lib/YaST2/startup/YaST2.Second-Stage
RemainAfterExit=yes
TimeoutSec=0
ExecStartPost=/usr/bin/rm -f /var/lib/YaST2/runme_at_boot
ExecStartPost=/usr/bin/systemctl restart systemd-vconsole-setup.service
StandardInput=tty

[Install]
WantedBy=default.target
