[Unit]
Description=YaST2 Second Stage
After=apparmor.service local-fs.target
Before=getty@tty1.service xdm.service
ConditionPathExists=/var/lib/YaST2/runme_at_boot

[Service]
Type=oneshot
ExecStart=/usr/lib/YaST2/startup/YaST2.Second-Stage
RemainAfterExit=yes
TimeoutSec=0
ExecStartPost=/bin/rm -f /var/lib/YaST2/runme_at_boot
StandardInput=tty

[Install]
WantedBy=default.target
